.App {
}
.results {
  background-color: thistle;
}
.resultsCR {
  margin: 20px;
  background-color: khaki;
}
form {
  width: 400px;
  margin: 50px auto;
}

input {
  background-color: khaki;
  border: none;
  height: 20px;
  float: right;
}
input[type="submit"] {
  float: unset;
  margin-left: 40%;
}
.results,
.resultsCR {
  padding: 30px;
  width: 375px;
  margin: 0 auto;
}
label {
  font-weight: bold;
  width: fit-content;

  padding: 10px;
  padding-right: 30px;
}
.inptGrp {
  padding: 10px 30px;
}

h1,
h2,
h4 {
  text-align: center;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
